.markdown-header {
    width: 14em;
    position: sticky;
    left:1em;
    top:1em;
    display: inline-block;
    margin-top: 1em;
    padding: 1em;
    float: left;
}
.markdown-header ul {
    padding-top: 2em;
    padding-bottom: 2em;
    background: #f3f6fa;
}
.main-content {
    margin:0;
    margin-left: 10em;
}
@media only screen and (max-width: 64em){
    .main-content{
        margin-left: 0;
    }
    .markdown-header {
        width: 100%;
        position: relative;
        top:0;left:0;
        display: block;
        float: none;
    }
}

.markdown-header li {
    list-style-type:numeric;
}
#skip-to-content {
    display: none;
}
.gotop {
    width: 2em;
    height: 2em;
    line-height: 2em;
    background: #42b983;
    color: aliceblue;
    cursor: pointer;
    position: fixed;
    right: 1em;
    bottom: 1em;
    text-align: center;
}
.swtichButton {
    color: #1e6bb8;
    display: block;
    cursor: pointer;
}